.todo
	width 100%
	background black
.cabe
	width 100%
	background green
	display inline-block
	.img1,.img2
		text-align center
		width 350px
		img 
			width 100%
	.img1
		float left

	.img2
		float right
.medio
	width 100%
	background yellow
	display inline-block
	height 400px
	.login
		margin 20px 20px 0px 20px
		background skyblue
		float right
		.nomb,.contra
			text-align left
	.red
		margin 0px 0px 0px 20px
		text-align left
		width 100px
		img
			width 50%
.ultimasnot
	text-align left
	width 100%
	background purple
.noticias
	text-align right



