// @import 'nib/vendor'
@import "simplegrid.styl"
vendor-prefixes = o ms moz webkit
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments
appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
	-moz-transform arguments
	ms-transform arguments
	o-transform arguments
	transform arguments
background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	ms-background-size arguments
	o-background-size arguments
	background-size arguments
body
	font-family century gothic
	background-color #000
*
	margin 0
.todo
	max-width 1180px
	margin 0px auto
.cabecera
	background-color #B7BCC0
	width 100%
	display inline-block
	padding 0px
.centro
	text-align center
.logo
	width 200px
	margin 0px auto
	padding 5px
	a
		text-decoration none
		img
			width 100%
			display block
.medio
	position relative
	background url("../img/portada.jpg") no-repeat fixed center
	background-size cover
	height: 450px
	width: 100% 
	margin: 0 auto
	min-height 400px

	.menos
		margin -5px 0px
	.login
		color #ffffff
		position relative
		margin 40px
		.entrar
			text-align center
			background-color rgba(255, 255, 255, 0.3);
			border-radius 5px
		.tabla
			display block
			width 80%
			margin 0px auto
			font-size: 17px
		.centro
			text-align center
		.texte
			font-size 1.5em
		.nomb,.contra
			text-align left
		.text
			border:0px solid
			background-color transparent
		.peq1
			font-size 0.7em
			text-align center
		.input
			background-color transparent
			border 1px rgba(255, 255, 255, 0.45) solid
			color #FFF
			padding 5px
			font-size 12px
			display inline-block
			width 100%
		.boton
			background-color transparent
			text-align center
			margin 10px auto 2px 0px
			color #FFF
			padding 3px
			font-size 12px
			border 1px rgba(255,255,255,0.45) solid
			border-radius 3px
	.red
		position relative
		width 100px
		img
			width 100%
			position relative
	.palto
		bottom 0
		position: absolute
.ultimasnot
	color #fff
	background #2C6485
	margin 1px auto
	text-align left
	position relative
	padding 10px
.abajo
	background #261C1A
.ultimo, .textnom
	display inline-block
	font-size 15px
	text-align left
	color #FFF
.texttitu, .textpeq
	margin 0px auto
	color #FFF
	text-align center
	position relative
.texttitu
	font-size -0.7em
.textpeq
	font-size 9.1px
.textdesc
	color #FFF
	font-size 15px
	font-size 0.8em
	text-align justify
	position relative
	margin 6px auto 0px
.col-6-12
	padding-right 36px
.img_ultimo
	width 100%
	margin 11px
.hola
	margin 20px auto 3px 0px