@import 'nib/vendor'
@import "simplegrid.styl"
vendor-prefixes = o ms moz webkit
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments
appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
	-moz-transform arguments
	ms-transform arguments
	o-transform arguments
	transform arguments
background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	ms-background-size arguments
	o-background-size arguments
	background-size arguments
* 
	margin 0px
body
	font-family century gothic
	background-color #4c4747
//////////////////////////////
.cabecera
	position absolute
	width 100%
	height 10%
	background-color #B7BCC0
	top 0
.todo-1
	text-align center
.logo-1
	padding 5px
	a
		text-decoration none
		img
			width 15%
			position absolute
			left 7px
			top 0
			height 100%
/////////////////////////////
.cuerpo
	position absolute
	width 100%
	height 55%
	top 10%
.todo-2
	margin -5px 0px
.logo-2
	a
		text-decoration none
		img
			width: 100%
			position: absolute
			left: 0
			top: 0
			height: 100%

.login
	color #ffffff
	position relative
	margin 40px
.entrar
	text-align center
	background-color rgba(255, 255, 255, 0.3);
	border-radius 5px
.tabla
	display block
	width 80%
	margin 0px auto
	font-size 17px
.centro
	text-align center
.texte
	font-size 1.5em
.nomb,.contra
	text-align left
.text
	border 0px solid
	background-color transparent
.peq1
	font-size 0.7em
	text-align center
	a 
		color #fff
		text-decoration none
.input
	background-color transparent
	border 1px rgba(255, 255, 255, 0.45) solid
	color #FFF
	padding 5px
	font-size 12px
	display inline-block
	width 100%
.boton
	background-color transparent
	text-align center
	margin 10px auto 2px 0px
	color #FFF
	padding 3px
	font-size 12px
	border 1px rgba(255,255,255,0.45) solid
	border-radius 3px
	cursor pointer
.red
	position absolute
	width 60px
	margin 0px 0px 7px 11px
	img
		width 100%
		position relative
	bottom 0

///////////////////////////////////
.ultimasnot	
	position absolute
	width 100%
	height 4%
	background-color #2C6485
	top 65%
	color #fff
.col-3-12
	margin: 0px 0px 0px 10px
	text-align left
//////////////////////////////////
.noticias
	position absolute
	width 100%
	height 31%
	bottom 0
.pri, .sec, .ter
	position absolute
	width 33.3%
	bottom 0
	padding 0px !important
	background-color #261C1A
.pri
	height 100%
	left 0%
.sec
	height 100%
	left 33.3%
.ter
	height 100%
	left 66.6%
	right 0%
.img_gran, .img_peq
	height 100%
	padding 0px
.img_gran
	left 0%
	right 16.65%
.img_peq
	left 16.65%
	right 0%
.img_ultimo_1
	height 95%
	width 100%
	left 0%
	right 13%
	margin 5px 2px 2px 10px
.div_1
	left 0%
	height 20%
	padding 0px
.div_2
	right 0%
	height 20%
	padding 0px
.img_ultimo_2
	height 70%
	width 100%
	margin 9px 0px 0px 7px
	padding 0px
.textnom
	display inline-block
	font-size 14px
	text-align center
	font-family monospace
	word-wrap break-word
	margin 14px 0 0 -9px
	height 20%
	a
		color #fff
		text-decoration none
.texttitu
	margin 0px auto
	color #FFF
	font-size 70%
	text-align center
.textdesc
	color #fff
	font-size 12px
	text-align justify
	margin 6px 9px 0px 0px
	word-wrap break-word
	top 0
	max-height 80px
	overflow hidden
.textpeq
	color #fff
	text-align -webkit-center
	font-size 8%
	margin 4px 0px 0px 70px
	max-height 70px
	overflow hidden

//////////////////////////////////
