@media screen and (max-width: 780px)
	.todo-2
		.menor
			display none
		.login
			width 90%	
@media screen and (max-width: 500px)
	.todo-4
		height 100%
		display inline-block
		.pri, .sec, .ter
			height 100%
			position relative
			width 100%
			bottom 0
			background-color #261C1A

