<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="css/estilo.css")
	body
		.todo
			.cabe
				.img1
					img(src="img/logo1.jpg", title="logo1")
				.img2
					img(src="img/logo2.jpg", title="logo2")
			.medio
				.login
					.nomb
						h4 Nombre de Usuario
						input(type="text" title="usuario")
						h4 Contraseña
					.contra
						input(type="pasword" title="contraseña" class="contraseña")
				.red
					img(src="", title="logo3")
			.ultimasnot
				h4 ultimas noticias
			.notcias
				img(src="img/logo4.jpg", title="noticia1")
				input(type="text")