<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title Plataforma Educativa
		link(rel="shortcut icon", href="img/favicon.png")
		link(rel="stylesheet", href="css/estilo.css")
	body
		.todo
			header.grid.grid-pad.cabecera
				.col-3-12.centro
					.logo
						a(href="#")
							img(src="img/logo_plataforma.png")
				.col-6-12
					&nbsp;
				.col-3-12.centro
					.logo
						a(href="#")
							img(src="")
			.medio
				img(src="img/portada.jpg", class="imagen")
				.grid.grid-pad.pgrid
					.col-2-12
						&nbsp;
					.col-7-12
						&nbsp;
					.col-3-12
						.login
							form(action="")
							.entrar
								span.texte Entrar
							.tabla
								h7 Nombre de Usuario
								input(type="text" title="usuario" class="input")
								h7 Contrase単a
								input(type="password" title="contrase単a" class="input")
							.boton
								input(type="submit" class="boton" value="Entrar")
							.peq1
								span 多Has Olvidado tu contrase単a?
				.grid.grid-pad.pgrid
					.col-1-12
						.red
							img(src="img/logo_red.png")
					.col-8-12
						&nbsp;
					.col-3-12
						&nbsp;

			.ultimasnot
				.grid.grid-pad.pgrid
				.col-3-12
					h4 ultimas noticias
				.col-9-12
					&nbsp;
