<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title Plataforma Educativa
		link(rel="shortcut icon", href="img/favicon.png")
		link(rel="stylesheet", href="css/estilo.css")
	body
		.todo
			header.grid.cabecera
				.col-3-12.centro
					.logo
						a(href="#")
							img(src="img/logo_plataforma.png")
				.col-6-12
					&nbsp;
				.col-3-12.centro
					&nbsp;
			.medio
				.grid.menos
					.col-2-12.menor
						&nbsp;
					.col-7-12.menor
						&nbsp;
					.col-3-12.logingri
						.login
							form(action="")
							.entrar.tabla
								span.texte Entrar
							.tabla
								h7 Nombre de Usuario
								input(type="text" title="usuario" class="input")
								h7 Contrase単a
								input(type="password" title="contrase単a" class="input")
							.tabla.centro
								input(type="submit" class="boton" value="Entrar")
							.peq1
								span 多Has Olvidado tu contrase単a?
				.grid.palto
					.col-1-12
						.red
							img(src="img/logo_red.png")
					.col-8-12
						&nbsp;
					.col-3-12
						&nbsp;
			.ultimasnot
				.grid
					.col-3-12
						span ultimas noticias
					.col-8-12
						&nbsp;
					.col-1-12
						&nbsp;
			.noticias
				.grid.abajo
					.col-4-12
						.grid.abajo
							.col-6-12
								.imag_gran
									a(href="#")
										img(src="img/imagen_G2.jpg", class="img_ultimo")
							.col-6-12
								.imag_peque
									a(href="#")
										img(src="img/imagen_P1.jpg", class="ultimo")
									.textnom
										a(href="")
											h5 Ruthmery Geraldine
								.texttitu
									h3 Campeona en Kumite
								.textdesc
									p El presente campeontato se realizo en el pais vecino de Chile, quedando nuestra alumna como campeonta en la categoria mayores avanzados.
								.textpeq
									h7 fecha
					.col-4-12
						.grid.abajo
							.col-6-12
								.imag_gran
									a(href="#")
										img(src="img/imagen_G2.jpg", class="img_ultimo")
							.col-6-12
								.imag_peque
									a(href="#")
										img(src="img/imagen_P1.jpg", class="ultimo")
									.textnom
										a(href="")
											h5 Ruthmery Geraldine
								.texttitu
									h3 Campeona en Kumite
								.textdesc
									p El presente campeontato se realizo en el pais vecino de Chile, quedando nuestra alumna como campeonta en la categoria mayores avanzados.
								.textpeq
									h7 fecha
					.col-4-12
						.grid.abajo
							.col-6-12
								.imag_gran
									a(href="#")
										img(src="img/imagen_G2.jpg", class="img_ultimo")
							.col-6-12
								padding-right 7px
								.imag_peque
									a(href="#")
										img(src="img/imagen_P1.jpg", class="ultimo")
									.textnom
										a(href="")
											h5 Ruthmery Geraldine
								.texttitu
									h3 Campeona en Kumite
								.textdesc
									p El presente campeontato se realizo en el pais vecino de Chile, quedando nuestra alumna como campeonta en la categoria mayores avanzados.
								.textpeq
									h7 fecha
