<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title Plataforma Educativa
		link(rel="shortcut icon", href="img/favicon.png")
		link(rel="stylesheet", href="css/estilo.css")
	body
		.todo
			header.grid.grid-pad.cabecera
				.col-3-12.centro
					.logo
						a(href="#")
							img(src="img/logo_plataforma.png")
				.col-6-12
					&nbsp;
				.col-3-12.centro
					.logo
						a(href="#")
							img(src="img/logo_utp.png")
			.medio
				img(src="img/portada.jpg", class="imagen")
				.grid.grid-pad.pgrid
					.col-2-12
						&nbsp;
					.col-8-12
						&nbsp;
					.col-2-12
						.login
							.entrar
								h1 Entrar
							.nomb
								h7 Nombre de Usuario.
										input(type="text" title="usuario")
								h7 Contraseña.
										input(type="password" title="contraseña" class="contraseña")
							.letrapeque
								h7 Recordar Nombre de Usuario:
							.contra
								input(type="submit")
							.letrapeque	
							h1 ¿Has Olvidado tu contraseña?
				.grid.grid-pad.pgrid
					.col-1-12
						.red
							img(src="img/logo_red.png")
					.col-8-12
						&nbsp;
					.col-3-12
						&nbsp;
			.ultimasnot
				.grid.grid-pad.pgrid
				.col-3-12
					h4 ultimas noticias
				.col-9-12
					&nbsp;
			.notcias
				img(src="img/logo4.jpg", title="noticia1")
				input(type="text")